@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: content-box;
  font-family: 'Lato', sans-serif;
}

body {
  width: 411px;
  height: 731px;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container_header {
  background: #E0E0E0;
  width: 411px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header_titulo {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

/* Container Section (fomrulários e botão) */

.container_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container_section_select,
.container_section_input {
  display: flex;
  border: 1px solid #979797;
  width: 371px;
  height: 32px;
  border-radius: 4px;
}

.container_section_select #select {
  width: 100%;
  margin-left: 6px;
}

.container_section_input #mercadoria,
.container_section_input #valor {
  width: 100%;
  padding-left: 12px;
}

.container_section_texto {
  width: 90.5%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.container_section_texto:nth-child(1) {
  padding-top: 26px;
}

.container_section_texto:nth-child(3) {
  padding-top: 20px;
}

.container_section_texto:nth-child(5) {
  padding-top: 20px;
}

.container_section_botao .button {
  width: 371px;
  height: 32px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background: #333;
  color: white;
  border-radius: 4px;
}

/* Linha para dividir a página */

.linha_horizontal {
  width: 371px;
  border: 1px solid #979797;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28.56px;
  margin-bottom: 20px;
}

/* Container Section 2 (Extrato de transações) */

.container_section_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_section_2_titulo {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding-bottom: 19px;
}

/* Container da tabela (div) header, body e footer */

.container_section_2_header {
  width: 371px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_titulo1 {
  margin-left: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.header_titulo2 {
  margin-right: 37px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.container_section_2_body,
.container_section_2_body_2,
.container_section_2_body_3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 371px;
  font-size: 14px;
}

.body_simbolo1,
.body_simbolo2,
.body_simbolo3 {
  width: 9px;
  height: 25.35px;
  margin-top: 7px;
}

.body_texto1 {
  width: 231px;
  height: 34px;
  margin-top: 7px;
}

.body_texto2,
.body_texto3 {
  width: 231px;
  height: 18px;
  margin-top: 7px;
}

.body_valor1 {
  width: 98px;
  height: 41.86px;
  text-align: end;
  margin-top: 7px;
}

.body_valor2,
.body_valor3 {
  width: 98px;
  height: 18px;
  text-align: end;
  margin-top: 7px;
}

/* Linha para dividir a página */

.linha_horizontal_section_2 {
  width: 371px;
  border: 1px solid #979797;
  margin-left: auto;
  margin-right: auto;
}

.linha_horizontal_section_2:nth-child(10){
  margin-top: 1px;
}