@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: content-box;
  font-family: 'Lato', sans-serif;
}

body {
  width: 411px;
  height: 731px;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container_header {
  background: #E0E0E0;
  width: 411px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header_titulo {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

/* Container Section (fomrulários e botão) */

.container_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container_section_select,
.container_section_input {
  display: flex;
  border: 1px solid #979797;
  width: 371px;
  height: 32px;
  border-radius: 4px;
}

.container_section_select #select {
  width: 100%;
  margin-left: 6px;
}

.container_section_input #mercadoria,
.container_section_input #valor {
  width: 100%;
  padding-left: 12px;
}

.container_section_texto {
  width: 90.5%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.container_section_texto:nth-child(1) {
  padding-top: 26px;
}

.container_section_texto:nth-child(3) {
  padding-top: 20px;
}

.container_section_texto:nth-child(5) {
  padding-top: 20px;
}

.container_section_botao .button {
  width: 371px;
  height: 32px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background: #333;
  color: white;
  border-radius: 4px;
}

/* Linha para dividir a página */

.linha_horizontal {
  width: 371px;
  border: 1px solid #979797;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28.56px;
  margin-bottom: 20px;
}

/* Container Section 2 (Extrato de transações) */